<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken%>">
    <title>Sign-up</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content")
    </script>
</head>
<body>
    <header><%-include('header.ejs') %></header>
    <h6 class="text-center font-bold text-xl">Signup as a new user</h6>
    <form action="/users" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken%>">
        <div class="flex flex-col gap-3 p-2 items-center">
            <div>
        <label for="firstName">First Name: </label>
        <input type="text" name="firstName" class="border-2 border-black rounded p-2 w-full" required>
    </div>
    <div>
        <label for="lastName">Last Name: </label>
        <input type="text" name="lastName" class="border-2 border-black rounded p-2 w-full">
    </div>
    <div class="relative right-4">
        <label for="email">Email: </label>
        <input type="email" name="email" class="border-2 border-black rounded p-2 w-full" required>
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" class="border-2 border-black rounded p-2 w-full" required>
    </div>
        <button type="submit" class="p-2 bg-green-600 hover:bg-green-800 rounded text-white font-bold">Sign up</button>
    </div>
    </form>
    <div class="text-center list-none text-red-600"><%-include('notifications.ejs') %></div>
</body>
</html>